*
{
	box-sizing: border-box;
}

header
{
	height: 84px;
	margin: 0 0 40px 0;
  padding: 0;
  background-color: #efeee7;
}

h1
{
	margin: 0;
	color: #080677;
  font-family: "Georgia",Times New Roman,Times,serif;
	font-size: 32px;
}

h2
{
	margin: 0;
	color: #080677;
	font-family: "Georgia",Times New Roman,Times,serif;
	font-size: 24px;
}

body
{
	/* no matter what I tried, no matter which class I put the
	 * background-image into, I could not get it to extend to
	 * the edges for the main_content, but not the header and
	 * footer
	 */
	background-image: url("../images/vintage-concrete.png");
  color: #333333;
	margin: 0;
  padding: 0;
}

a:link
{
  color: #d21034;
}

.no_image
{
	background-image: none;
  background-color: #efeee7;
}

.name
{
  background-color: #080677;
  color: #eee;
  float: left;
  padding: 30px;
}

.nav
{
	position: relative;
	top: 33px;
	font-size: 18px;
	float: right;
	margin: auto 5px auto 25px;
}

.heading_pad
{
	padding-top: 30px;
	padding-bottom: 20px;
}

.margin
{
	margin-left: 20px;
	margin-right: 20px;
}

.all_content
{
	width: 960px;
  margin: 0 auto;
	padding-bottom: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 150%;
}

.main_content
{
	width: 650px;
  margin: 0 auto;
  float: left;
}

.sidebar
{
	width: 270px;
  margin: 0 auto;
  float: right;
}

#bio-image
{
  float: left;
  width: 200px;
}
