*
{
	box-sizing: border-box;
}

header
{
	height: 84px;
	margin: 0 0 40px 0;
  padding: 0;
  background-color: #efeee7;
}

footer
{
	display: block;
	clear: both;
	height: 84px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  background-image: none;
  background-color: #666;
  border-top: 5px solid #080677;
  /*margin: 40px 0 0 0;*/
}

h1
{
	margin: 0;
	color: #080677;
  font-family: "Georgia",Times New Roman,Times,serif;
	font-size: 32px;
}

h2
{
	margin: 0;
	color: #080677;
	font-family: "Georgia",Times New Roman,Times,serif;
	font-size: 24px;
}

body
{
	background-image: url("../images/vintage-concrete.png");
  color: #333333;
	margin: 0;
  padding: 0;
	/* sticky footer */
  height: 100%;
  margin: 0;
}

a:link
{
  color: #d21034;
}

.no_image
{
	/* I understand the technical reasons for the assignment to require a separate background for the content vs the generic textured background, but I think it looks better with just the texture.
	*/
	background-image: none;
  background-color: #efeee7;
}

.name
{
  background-color: #080677;
  color: #eee;
  float: left;
  padding: 30px;
}

.nav
{
	position: relative;
	top: 33px;
	font-size: 18px;
	float: right;
	margin: auto 5px auto 25px;
}

.heading_pad
{
	padding-top: 30px;
	padding-bottom: 20px;
}

.lr_margin
{
	margin-left: 20px;
	margin-right: 20px;
}

.tb_padding
{
	padding-top: 20px;
	padding-bottom: 30px;	
}

.icon
{
	width: 70px;
	border: 0;
	float: left;
	margin: 20px 5px 30px 0;
/* I like the look of this better, but assignment wants above margins
	margin-right: 5px;
	margin-bottom: 10px;
*/
}

.all_content
{
	width: 960px;
  margin: 0 auto;
	padding-bottom: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 150%;
}

.main_content
{
	width: 650px;
  margin: 0 auto 40px 0;
  float: left;
}

.sidebar
{
	width: 270px;
  margin: 0 auto;
  float: right;
}

#bio-image
{
  float: left;
  width: 200px;
}

.foot
{
	padding-top: 50px;
}

/*
 * sticky footer method #3
 */
.wrapper {
  min-height: calc(100vh - 84px);
}
/*.footer {
  height: 84px;
}*/

